<!-- <div class="d-flex k-365-panel">     
    <div class="k-365-panel-content">
      <img class="k-365-content">                 
    </div>    
    <div class="k-365-panel-content-2">
      <h3 class="text-white">Everything needed to manage, secure, backup, and automate endpoint IT management &amp; security.</h3>
    </div>   
    <div class="k-365-panel-content-3">
      <a href="#" class="k-365-explore-btn" data-bs-toggle="modal" data-bs-target="#k365-content-modal">Explore Kaseya 365</a>
    </div>
</div> -->
  <!-- <div class="k-365-panel">
    <img class="k-365-content">
    <div class="k-365-desc">
        <p class="k-365-txt">Everything needed to manage, secure, backup, and automate endpoint IT management &amp; security.</p>
        <a href="#" id="btn365" class="btn btn-warning k-365-explore-btn" data-bs-toggle="modal" data-bs-target="#k365-content-modal">Explore Kaseya 365</a>
    </div>
  </div> -->
  <div id="kaseya365" class="d-block d-md-flex align-items-center gap-2">
      <!-- <div class="card">
        <div class="card-body">
          <div class="d-block d-lg-flex align-items-center gap-4">
            <div id="endpoint-k365-selector" class="d-none d-lg-block banner-color endpoint-color">
            </div>
            <div class="">
              <h5 class="raleway-font">Kaseya 365 Endpoint</h5>
              <p>Everything Needed to Manage, Secure and Backup Endpoints</p>
              <button class="btn btn-primary btn-sm k365-banner-modals" data-bs-toggle="modal" data-bs-target="#k365-content-modal">Explore Kaseya 365 Endpoint</button>
            </div>
          </div>
        </div>
      </div>
      <div class="card">
        <div class="card-body">
          <div class="d-block d-lg-flex align-items-center gap-4">
            <div id="user-k365-selector" class="d-none d-lg-block banner-color user-color">
            </div>
            <div class="">
              <h5 class="raleway-font">Kaseya 365 User</h5>
              <p>Everything Needed to Prevent, Respond, and Recover from User Threats</p>
              <button class="btn btn-primary btn-sm k365-banner-modals" data-bs-toggle="modal" data-bs-target="#k365-user-modal">Explore Kaseya 365 User</button>
            </div>
          </div>
        </div>
      </div> -->
  </div>