body {
  margin: 0;
  font-family: "Lato", sans-serif;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #212529;
  text-align: left;
  background-color: #fff;
}
 
 .k-365-panel{
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1rem;
  margin: auto;
  margin-top: 2rem;
  border-radius: 0.5rem;
  background: url(http://localhost/PROJECTS/NMIPH_WEBSITE/assets/img/nmi-k-365/k365-cta-bg.jpg) no-repeat center center;
  box-shadow: 0 4px 30px rgba(79, 195, 247, .22);
}

.k-365-txt{
  text-align: center;
  color: #fff;
}

/* .k-365-panel-content{
  width: 10rem; 
  height: 9rem; 
  margin: 1.6rem 0.7rem 0.7rem 3.6rem; 
} */

.k-365-panel-content-2{
  width: 45rem; 
  height: 9rem; 
  margin: 4.5rem 0.7rem 0.7rem 0.7rem; 
}

.k-365-panel-content-3{
  width: 12rem; 
  height: 9rem; 
  margin: 5.4rem 4rem 0.7rem 0.7rem; 
}

.k-365-explore-btn{
  width: 9rem !important;
  font-size: 12px;
  font-weight: 500;
  justify-content: center !important;
  font-family: "Raleway", sans-serif;
}

.k-365-content{
  content:url("http://localhost/PROJECTS/NMIPH_WEBSITE/assets/img/nmi-k-365/logo-kaseya-365-white.svg");
  width: 7rem;
  margin-top: .5rem;
}

.k-365-modal-bg{
  background-color: #0b233a;
  background-repeat: repeat;
  background-position: right bottom;
  background-size: cover;
  background-image: url(http://localhost/PROJECTS/NMIPH_WEBSITE/assets/img/nmi-k-365/k365-hero-bg.jpg);
  margin-top: -1em;
}

.k365-product-props .k365-product-props-bg {
  border: 1px solid #fff;
  background: linear-gradient(180deg, rgba(255, 255, 255, .55) 0%, rgba(236, 246, 255, .55) 100%);
  backdrop-filter: blur(4rem);
  -webkit-backdrop-filter: blur(4rem);
}

.text-k365-ltblue {
  color: #4fc3f7 !important;
}

.text-white{
  color: #fff !important;
}

.text-kaseya-dkblue {
  color: #0277bd !important;
}

.font-weight-bold {
  font-weight: 700 !important;
}

.font-weight-normal {
  font-weight: 400 !important;
}

.text-uppercase {
  text-transform: uppercase !important;
}

.h1 {
  font-size: 2.5rem;
}

h4, .h4 {
  font-size: 1.5rem;
}

.h5 {
  font-size: 1.25rem;
}

.mb-0, .my-0 {
  margin-bottom: 0 !important;
}

/* .mb-4 {
  margin-bottom: 1.5rem !important;
} */

.mb-5, .my-5 {
  margin-bottom: 3rem !important;
}

.mt-md-n5, .my-md-n5 {
  margin-top: -5rem !important;
}

.mb-0, .my-0 {
  margin-bottom: 0 !important;
}

.lead {
  font-size: 1.25rem;
  font-weight: 300;
}

.rounded-lg {
  border-radius: .3rem !important;
}

.k365-row {
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin-right: -15px;
  margin-left: -15px;
}

h2, .h2 {
  font-size: 2rem;
}

h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
  margin-bottom: .5rem;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  line-height: 1.2;
}

h1, h2, h3, h4, h5, h6 {
  margin-top: 0;
  margin-bottom: .5rem;
}

*, *:before, *:after {
  box-sizing: border-box;
}


.vsa-text-gradient.reverse {
  background: linear-gradient(110deg, #0277bd 25%, #4fc3f7 75%);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}
.vsa-text-gradient {
  background: linear-gradient(110deg, #4fc3f7 25%, #0277bd 75%);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  width: fit-content;
}

@media (min-width: 768px) {
  .mt-md-n5, .my-md-n5 {
      margin-top: -5rem !important;
  }
}

@media (min-width: 768px) {
  .pb-md-8, .py-md-8 {
      padding-bottom: 7.5rem !important;
  }
}

@media (min-width: 768px) {
  .pt-md-8, .py-md-8 {
      padding-top: 3rem !important;
  }
}

/* @media (min-width: 1200px) {
  .container, .container-sm, .container-md, .container-lg, .container-xl {
      max-width: 1280px;
  }
} */

@media (min-width: 768px) {
  .align-items-md-center {
      -ms-flex-align: center !important;
      align-items: center !important;
  }
}

@media (min-width: 768px) {
  .justify-content-md-between {
      -ms-flex-pack: justify !important;
      justify-content: space-between !important;
  }
}

@media (min-width: 992px) {
  .col-lg-4 {
      -ms-flex: 0 0 33.3333333333%;
      flex: 0 0 33.3333333333%;
      max-width: 33.3333333333%;
  }
}

@media (min-width: 992px) {
  .k365-why {
      position: relative;
  }
}

@media (min-width: 992px) {
  .k365-why:before {
      display: block;
      content: "";
      background: url(http://localhost/PROJECTS/NMIPH_WEBSITE/assets/img/nmi-k-365/logo-kaseya-365-ring.svg) no-repeat center center;
      width: 440px;
      height: 440px;
  }
}
/* @media (min-width: 768px) {
  .col-md-6 {
      -ms-flex: 0 0 50%;
      flex: 0 0 50%;
      max-width: 50%;
  }
} */

@media (min-width: 992px) {
  .k365-why .prop:nth-child(1) {
      left: -6rem;
      top: 1rem;
  }
}
@media (min-width: 992px) {
  .k365-why .prop {
      position: absolute;
      max-width: 325px;
  }
}

.k365-why .prop {
  color: #193e62;
  box-shadow: 0px 4px 40.8px 0px rgba(87, 192, 237, .46);
}
/* @media (min-width: 992px) {
  .mb-lg-0, .my-lg-0 {
      margin-bottom: 0 !important;
  }
} */
.p-4 {
  padding: 1.5rem !important;
}
.mb-4, .my-4 {
  margin-bottom: 1.5rem !important;
}
.rounded-lg {
  border-radius: .3rem !important;
}
.bg-white {
  background-color: #fff !important;
}

.efficient{
  margin-top: -22.5em !important;
  margin-left: 17.5em !important;
}

.affordable{
  top: 19.5em;
  left: -2.5em;
}

.k365-includes .nav{
  -ms-flex-direction:column;
  flex-direction:column;
  width:fit-content;
  margin:0 auto;
  padding:5px;
  border-radius:2rem;
  background:#fff
}
.k365-includes .nav .nav-item .nav-link{
  border-radius:10rem;
  border:0;
  background:0 0;
  padding:.75rem 1rem;
  min-width:150px
}
.k365-includes .nav .nav-item .nav-link svg{
  -ms-flex-negative:0;
  flex-shrink:0;
  width:30px;
  margin-right:.5rem
}
.k365-includes .nav .nav-item .nav-link.active{
  background:#0277bd
}
.k365-includes .tab-content .tab-pane figure{
  border-radius:1.5rem;
  overflow:hidden
}
.k365-includes .tag{
  display:inline-block;
  font-size:1rem;
  line-height:1.5;
  text-transform:uppercase;
  border-radius:.3rem;
  padding:0 .5rem
}
.k365-includes .tag.tag-express{
  border:1px solid #4fc3f7;
  background:rgba(79,195,247,.15);
  color:#4fc3f7
}
.k365-includes .tag.tag-pro{
  border:1px solid #2fce21;
  background:rgba(47,206,33,.15);
  color:#2fce21
}

.button-kaseya-dkblue {
  border-color: #0277bd;
  color: #fff;
  background-color: #0277bd;
  box-shadow: inset 0 1px 0 rgba(255, 255, 255, .15), 0 1px 1px rgba(0, 0, 0, .075);
}

.button {
  display: inline-block;
  border: 1px solid transparent;
  vertical-align: middle;
  text-align: center;
  white-space: nowrap;
  font-weight: 700;
  font-family: "Raleway", sans-serif;
  -ms-user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
  user-select: none;
  padding: .625rem 2rem;
  font-size: .875rem;
  line-height: 1.2;
  -webkit-transition: color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out, box-shadow .15s ease-in-out;
  transition: color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out, box-shadow .15s ease-in-out;
}

.ml-auto, .mx-auto {
  margin-left: auto !important;
}

a {
  color: #34495e;
  text-decoration: none;
  background-color: transparent;
}

.k365-automations-list .list-group .list-group-item {
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -ms-flex-align: center;
  align-items: center;
  gap: 1rem;
  background: rgba(255, 255, 255, .1);
  min-width: 250px;
  padding: 1rem;
  border: 0;
  color: #fff;
  -webkit-transition: opacity .25s ease-in-out;
  transition: opacity .25s ease-in-out;
}

.list-group-item.active {
  z-index: 2;
  color: #000;
  background-color: #f9fafb;
  border-color: #34495e;
}
.list-group-item:first-child {
  border-top-left-radius: inherit;
  border-top-right-radius: inherit;
}
.list-group-item {
  position: relative;
  display: block;
  padding: .75rem 1.25rem;
  background-color: #fff;
  border: 1px solid rgba(0, 0, 0, .125);
}
.list-group-item-action {
  width: 100%;
  color: #495057;
  text-align: inherit;
}

@media (min-width:768px){
  .k365-includes .nav{
      -ms-flex-direction:row;
      flex-direction:row;
      border-radius:10rem
  }
}
@media (min-width:992px){
  .k365-includes .nav .nav-item .nav-link{
      min-width:190px
  }
}

.mb-0, .my-0 {
  margin-bottom: 0 !important;
}

.text-kaseya-ltblue {
  color: #4fc3f7 !important;
}

.k365-price-card {
  border-radius: 1.5rem;
}

.p-5 {
  padding: 3rem !important;
}

.h-100 {
  height: 100% !important;
}

.shadow {
  box-shadow: 0 .5rem 1rem rgba(0, 0, 0, .15) !important;
}

.flex-column {
  -ms-flex-direction: column !important;
  flex-direction: column !important;
}

.d-flex {
  display: -ms-flexbox !important;
  display: -webkit-flex !important;
  display: flex !important;
}

.bg-white {
  background-color: #fff !important;
}

.mb-5, .my-5 {
  margin-bottom: 3rem !important;
}

.align-items-center {
  -ms-flex-align: center !important;
  align-items: center !important;
}

.mr-3, .mx-3 {
  margin-right: 1rem !important;
}

.mb-0, .my-0 {
  margin-bottom: 0 !important;
}

.w-100 {
  width: 100% !important;
}

.flex-shrink-0 {
  -ms-flex-negative: 0 !important;
  flex-shrink: 0 !important;
}

figure {
  margin: 0 0 1rem;
}

article, aside, figcaption, figure, footer, header, hgroup, main, nav, section {
  display: block;
}

*, *:before, *:after {
  box-sizing: border-box;
}

.list-unstyled {
  padding-left: 0;
  list-style: none;
}

ol, ul, dl {
  margin-top: 0;
  margin-bottom: 1rem;
}

*, *:before, *:after {
  box-sizing: border-box;
}

.button-kaseya-orange {
  border-color: #ffb300;
  color: #212529;
  background-color: #ffb300;
  box-shadow: inset 0 1px 0 rgba(255,255,255,.15),0 1px 1px rgba(0,0,0,.075)
}

.button-kaseya-orange:not([disabled]):not(.disabled):active,.button-kaseya-orange:not([disabled]):not(.disabled).active,.show>.button-kaseya-orange.dropdown-toggle {
  border-color: #bf8600;
  background-color: #cc8f00;
  color: #fff;
  box-shadow: inset 0 3px 5px rgba(0,0,0,.125),0 0 0 .2rem rgba(255,179,0,.5);
}

.k365-price-card ul li {
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -ms-flex-align: center;
  align-items: center;
  gap: .5rem;
  margin-bottom: .5rem;
}

.k365-price-card ul li:before {
  content: url("data:image/svg+xml,%3Csvg width='26' height='26' fill='none' xmlns='http://www.w3.org/2000/svg' viewBox='0 0 26 26'%3E%3Cpath d='M13 26c7.1799 0 13-5.8201 13-13S20.1799 0 13 0 0 5.8201 0 13s5.8201 13 13 13Z' fill='%23027BC1'/%3E%3Cpath d='m7.1167 13.8405 3.3618 3.3618 8.4046-8.4046' stroke='%23fff' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E")
}

@media (min-width: 768px) {
  .mb-md-0, .my-md-0 {
      margin-bottom: 0 !important;
  }
}

@media (min-width: 768px) {
  .col-md-4 {
      -ms-flex: 0 0 33.3333333333%;
      flex: 0 0 33.3333333333%;
      max-width: 33.3333333333%;
  }
}

.k365-modal .k365-header{
  display:  flex;
  align-items: center;
  gap: 1rem;
  color: #49aedd;
}
.k365-modal .modal-body{
  padding: 0 !important;
}
.k365-modal .k365-body{
  padding: 2rem;
}
.k365-section1{
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  justify-content: center;
  align-items: center;
}
/* .k365-section1 img{
  aspect-ratio: auto;
  object-fit: contain;
  width: 15rem;
} */
.k365-modal .k365-body .btn-warning{
  font-family: "Raleway", sans-serif !important;
}