/*--------------------------------------------------------------
# Disable aos animation delay on mobile devices
--------------------------------------------------------------*/
@media screen and (max-width: 768px) {
    [data-aos-delay] {
      transition-delay: 0 !important;
    }
  }
  
/* mobile sm viewport */
  @media (min-width: 320px) {
    .logo {
      width: 10rem;
    }
    .toggle-sm-nav {
      display: block;
    }
    .nav-link-style {
      display: none;
    }
    .default-nav {
      display: none;
    }
    .k-banner-txt{
      font-size: 13px;
      font-weight: bold;
      text-align: left;
     }
     .k-banner-alignment {
      display: block;
     }
     .solution-grid{
      display: grid;
      justify-content: center;
      align-items: center;
      grid-template-columns: 1;
      margin-top: 2rem;
     }
    .solution-card{
      padding: 2rem;
      margin: 1rem 3.5rem;
    }
    .k-banner-txtdiv{
      width: 15rem;
      padding: 1rem;
    }
  }

/* tablet viewport (max-width: 768px) */
@media (min-width: 768px) {
  .toggle-sm-nav {
    display: none;
  }
  .logo {
    width: 13rem;
  }
  .nav-link-style {
    display: flex;
  }
  .default-nav {
    display: flex;
    align-items: center;
    gap: 1rem;
    padding-top: 1rem;
  }
  .navbar .dropdown ul {
    display: flex;
    align-items: center;
    position: absolute;
    width: 46rem;
    height: 300px;
    left: 5rem;
    top: calc(100% + 30px);
    margin: 1rem -32rem 0  !important;
  }
  .scroll-sub-nav {
    width: 45.9rem;
    height: 300px;
    margin-left: 0rem;
    overflow-y: auto;
    overflow-x: hidden;
  }
  .k-365-content{
    width: 8rem;
  }
  .k-banner-alignment {
    display: flex;
    justify-content: center;
    align-items: center;
   }
  .k-banner-txt{
    font-size: 18px;
    margin-top: 1.5rem;
    font-weight: bold;
   }
  .k-banner-txtdiv{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 21rem;
  }
  .solution-grid{
    justify-content: center;
      align-items: center;
    grid-template-columns: repeat(3, 1fr);
   }
  .solution-card{
    padding: 1rem 0;
    margin: 1rem;
  }
  .k-365-panel{
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 1rem;
  }
}

  /* desktop viewport*/
  @media (min-width: 1020px) {
    .k-banner-txtdiv{
      width: 35rem;
    }
    .solution-grid{
      grid-template-columns: repeat(4, 1fr);
     }
     .k-365-panel{
      display: flex;
      flex-direction: row;
      align-items: center;
      padding: 1rem;
    }
  }

  @media (min-width: 1280px) {
    .logo {
      width: 15rem;
    }
    .nav-link-style {
      display: flex;
    }
    .default-nav {
      display: flex;
      align-items: center;
      gap: 1rem;
      padding-top: 1rem;
    }
    .scroll-sub-nav {
      width: 45.9rem;
      height: 300px;
      margin-left: 0rem;
      overflow-y: auto;
      overflow-x: hidden;
    }
    .k-banner-txt{
      font-size: 20px;
      margin-top: 1.5rem;
      font-weight: bold;
     }
    .k-banner-txtdiv{
      width: 45rem;
    }
    .solution-grid{
      grid-template-columns: repeat(7, 1fr);
      justify-content: center;
      align-items: center;
      gap: 1rem;
     }
     .solution-card{
      padding: 2rem;
      height: 8rem;
      margin: 0;
    }
  }

  @media (max-width: 1366px) {
    .navbar .dropdown .dropdown ul {
      left: -90%;
    }
  
    .navbar .dropdown .dropdown:hover>ul {
      left: -100%;
    }
  }

  /* hero section */
  @media (max-width: 768px) {
    #hero {
      text-align: center;
      padding-top: 58px;
    }
  
    #hero h1 {
      font-size: 28px;
    }
  
    #hero h2 {
      font-size: 18px;
      line-height: 24px;
    }
    
  }
  
  @media (max-height: 500px) {
    #hero {
      height: 120vh;
    }
  }

  /* about */
  @media (max-width: 1200px) {
    .about .content {
      padding-right: 0;
    }
  }
  
  @media (max-width: 768px) {
    .about {
      text-align: center;
    }
  }

  /* tab */
  @media (max-width: 768px) {
    .tabs .nav-link i {
      padding: 0;
      line-height: 1;
      font-size: 36px;
    }
  }
  
  @media (max-width: 575px) {
    .tabs .nav-link {
      padding: 15px;
    }
  
    .tabs .nav-link i {
      font-size: 24px;
    }
  }

  /* footer */
  @media (min-width: 768px) {
    .col-sm-8r {
        width: 12.5%;
        float: left;
    }
  }
  
  @media (min-width: 992px) {
    .col-md-8r {
        width: 12.5%;
        float: left;
    }
  }
  
  @media (min-width: 1200px) {
    .col-lg-8r {
        width: 12.5%;
        float: left;
    }
  }