/*--------------------------------------------------------------
# Disable aos animation delay on mobile devices
--------------------------------------------------------------*/
@media screen and (max-width: 768px) {
    [data-aos-delay] {
      transition-delay: 0 !important;
    }
  }
  
/* mobile sm viewport */
  @media (min-width: 320px) {
    .logo {
      width: 10rem;
    }
    .toggle-sm-nav {
      display: block;
    }
    .nav-link-style {
      display: none;
    }
    .default-nav {
      display: none;
    }
    .k-365-desc{
      margin-top: 1rem;
    }
    .solution-grid{
      display: grid;
      justify-content: center;
      align-items: center;
      grid-template-columns: 1;
      margin-top: 2rem;
     }
    .solution-card{
      padding: 2rem;
      margin: 1rem 3.5rem;
    }
    .about-grid {
      display: grid;
      grid-template-columns: 1;
      gap: 5rem;
    }
    .about-grid .col-span-2 .sub-content{
      display: grid;
      gap: 2rem;
    }
  }
  @media (min-width: 480px) {
    .k-banner-txt{
      font-size: 13px;
      font-weight: bold;
      text-align: left;
     }
     .k-banner-alignment {
      display: block;
     }
    .solution-card{
      padding: 2rem;
      margin: 1rem 5rem;
    }
    .k-365-panel{
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
      padding: 1rem;
      gap: 1rem;
    }
  }

/* tablet viewport (max-width: 768px) */
@media (min-width: 768px) {
  .toggle-sm-nav {
    display: none;
  }
  .logo {
    width: 13rem;
  }
  .nav-link-style {
    display: flex;
  }
  .default-nav {
    display: flex;
    align-items: center;
    gap: 1rem;
    padding-top: 1rem;
  }
  .navbar .dropdown ul {
    display: flex;
    align-items: center;
    position: absolute;
    width: 46rem;
    height: 300px;
    left: 5rem;
    top: calc(100% + 30px);
    margin: 1rem -32rem 0  !important;
  }
  .scroll-sub-nav {
    width: 45.9rem;
    height: 300px;
    margin-left: 0rem;
    overflow-y: auto;
    overflow-x: hidden;
  }
  .k-365-content{
    width: 8rem;
  }
  .k-365-panel{
    margin: 0 .5rem;
  }
  .solution-grid{
    justify-content: center;
    align-items: center;
    grid-template-columns: repeat(3, 1fr);
   }
  .solution-card{
    padding: 1rem 0;
    margin: .5rem .5rem;
  }
  .k-365-desc{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .k-365-txt{
    text-align: justify;
    color: #fff;
  }
  .about-grid{
    gap: 4rem;
  }
  .about-grid .col-span-2 .sub-content{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 3rem;
  }
  .about-grid .col-span-2 .sub-content .content p{
    text-align: left;
  }
  .services .services-grid{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
  }
  .contact .php-email-form .input-grid{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    gap: 2rem;
  }
  .rmm .rmm-below-content{
    margin-top: 3rem;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1rem;
  }
  .rmm .rmm-below-content .rmm-img{
    margin: 5rem .5rem;
  }
}

  /* desktop viewport*/
  @media (min-width: 1024px) {
    .k-banner-txtdiv{
      width: 35rem;
    }
    .solution-grid{
      grid-template-columns: repeat(4, 1fr);
     }
     .k-365-panel{
      display: flex;
      flex-direction: row;
      align-items: center;
      padding: 1rem;
    }
    .k-365-txt{
      text-align: left;
      font-size: 18px;
    }
    .about-grid .col-span-2 .sub-content .content p{
      text-align: justify;
    }
    .contact-grid{
      position: relative;
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      margin-top: 1rem;
      gap: 2rem;
    }
    .contact .php-email-form .input-grid{
      display: grid;
      gap: .5rem;
    }
    .footer-top .footer-grid{
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 2rem;
    }
    .footer-top .footer-contact{
      grid-column: span 2;
      display: grid;
      justify-content: center;
      align-items: center;
    }
    #footer .footer-top .footer-end {
      display: flex;
      justify-content: space-between;
      align-items: start;
    }
    .rmm-txt-j-c{
      text-align: center;
    }
    .rmm .rmm-below-content .rmm-img{
      padding: 1rem .5rem;
      margin-top: 0;
      height: 20rem;
    }
  }

  @media (min-width: 1280px) {
    .logo {
      width: 15rem;
    }
    .nav-link-style {
      display: flex;
    }
    .default-nav {
      display: flex;
      align-items: center;
      gap: 1rem;
      padding-top: 1rem;
    }
    .scroll-sub-nav {
      width: 45.9rem;
      height: 300px;
      margin-left: 0rem;
      overflow-y: auto;
      overflow-x: hidden;
    }
    .solution-grid{
      grid-template-columns: repeat(7, 1fr);
      justify-content: center;
      align-items: center;
      gap: 1rem;
      margin-top: 1rem;
     }
     .solution-card{
      height: 8rem;
      margin: 0rem;
    }
    .k-365-panel{
      gap: 2rem;
      margin: 0;
    }
    .k-365-desc{
      display: flex;
      flex-direction: row;
      align-items: center;
    }
    .k-365-txt{
      text-align: left;
      font-size: 20px;
      width: 45rem;
    }
    .about-grid{
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      grid-auto-rows: auto;
      margin-top: 2rem;
    }
    .about-grid .col-span-1{
      grid-column: span 1;
      display: flex;
      justify-content: center;
      align-items: center;
    }
    .about-grid .col-span-2{
      grid-column: span 2;
    }
    .about-grid .col-span-2 .sub-content{
      display: grid;
      gap: 2rem;
    }
  }

  @media (max-width: 1366px) {
    .navbar .dropdown .dropdown ul {
      left: -90%;
    }
  
    .navbar .dropdown .dropdown:hover>ul {
      left: -100%;
    }
  }

  /* hero section */
  @media (max-width: 768px) {
    #hero {
      text-align: center;
      padding-top: 58px;
    }
  
    #hero h1 {
      font-size: 28px;
    }
  
    #hero h2 {
      font-size: 18px;
      line-height: 24px;
    }
    
  }
  
  @media (max-height: 500px) {
    #hero {
      height: 120vh;
    }
  }

  /* about */
  @media (max-width: 1200px) {
    .about .content {
      padding-right: 0;
    }
  }
  
  @media (max-width: 768px) {
    .about {
      text-align: center;
    }
  }

  /* tab */
  @media (max-width: 768px) {
    .tabs .nav-link i {
      padding: 0;
      line-height: 1;
      font-size: 36px;
    }
  }
  
  @media (max-width: 575px) {
    .tabs .nav-link {
      padding: 15px;
    }
  
    .tabs .nav-link i {
      font-size: 24px;
    }
  }

  /* footer */
  @media (min-width: 768px) {
    .col-sm-8r {
        width: 12.5%;
        float: left;
    }
  }
  
  @media (min-width: 992px) {
    .col-md-8r {
        width: 12.5%;
        float: left;
    }
  }
  
  @media (min-width: 1200px) {
    .col-lg-8r {
        width: 12.5%;
        float: left;
    }
  }