/*--------------------------------------------------------------
# Disable aos animation delay on mobile devices
--------------------------------------------------------------*/
@media screen and (max-width: 768px) {
    [data-aos-delay] {
      transition-delay: 0 !important;
    }
  }
  
/* mobile sm viewport */
  @media (min-width: 320px) {
    .logo {
      width: 10rem;
    }
    .toggle-sm-nav {
      display: block;
    }
    .nav-link-style {
      display: none;
    }
    .default-nav {
      display: none;
    }
    .k-365-desc{
      margin-top: 1rem;
    }
    .solution-grid{
      display: grid;
      justify-content: center;
      align-items: center;
      grid-template-columns: 1;
      margin-top: 2rem;
     }
    .solution-card{
      padding: 2rem;
      margin: 1rem 3.5rem;
    }
    .about-grid {
      display: grid;
      grid-template-columns: 1;
      gap: 5rem;
    }
    .about-grid .col-span-2 .sub-content{
      display: grid;
      gap: 2rem;
    }
    #subscription-user .subscription-circle figure::after{
      z-index: -1;
      content: "";
      position: absolute;
      inset: -4px;
      border-radius: 50%;
      background: #fff;
      filter: drop-shadow(0px 0px 60px #4fc3f7) blur(10px);
    }
    
    #subscription-user .subscription-circle figure{
      position: relative;
      background-image: radial-gradient(40% 40% at 75% 12%,#5ceca4,rgba(118,236,92,0) 100%),radial-gradient(59.56% 57% at 49.45% 50.47%,rgba(133,232,28,0) 65%,rgba(133,232,28,.9) 100%) !important;
      padding: 3rem;
      border-radius: 50%;
      margin-bottom: 2rem;
      background: #0b233a;
      width: 13rem;
    }
  }
  @media (min-width: 480px) {
    .k-banner-txt{
      font-size: 13px;
      font-weight: bold;
      text-align: left;
     }
     .k-banner-alignment {
      display: block;
     }
    .solution-card{
      padding: 2rem;
      margin: 1rem 5rem;
    }
    .k-365-panel{
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
      padding: 1rem;
      gap: 1rem;
    }
  }

/* tablet viewport (max-width: 768px) */
@media (min-width: 768px) {
  .toggle-sm-nav {
    display: none;
  }
  .logo {
    width: 13rem;
  }
  .nav-link-style {
    display: flex;
  }
  .default-nav {
    display: flex;
    align-items: center;
    gap: 1rem;
    padding-top: 1rem;
  }
  .navbar .dropdown ul {
    display: flex;
    align-items: center;
    position: absolute;
    width: 46rem;
    height: 300px;
    left: 5rem;
    top: calc(100% + 30px);
    margin: 1.5rem -32rem 0  !important;
  }
  .scroll-sub-nav {
    width: 45.9rem;
    height: 300px;
    margin-left: 0rem;
    overflow-y: auto;
    overflow-x: hidden;
  }
  .k-365-content{
    width: 8rem;
  }
  .k-365-panel{
    margin: 0 .5rem;
  }
  .solution-grid{
    justify-content: center;
    align-items: center;
    grid-template-columns: repeat(3, 1fr);
   }
  .solution-card{
    padding: 1rem 0;
    margin: .5rem .5rem;
  }
  .k-365-desc{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .k-365-txt{
    text-align: justify;
    color: #fff;
  }
  .about-grid{
    gap: 4rem;
  }
  .about-grid .col-span-2 .sub-content{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 3rem;
  }
  .about-grid .col-span-2 .sub-content .content p{
    text-align: left;
  }
  .services .services-grid{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
  }
  .contact .php-email-form .input-grid{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    gap: 2rem;
  }

  .k365-section1 h2{
    font-size: 30px;
  }
  .k365-section2{
    position: absolute;
    margin-top: -5rem;
    left: 0;
    right: 0;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: 1rem;
  }
  .k365-section2 .card{
    border: 0px !important;
  }
  .k365-section3{
    margin-top: 12rem;
  }
  .k365-section3 .section-cont{
    gap: 0;
  }
  .k365-section3 .section-cont .ring-bg{
    background: url(http://localhost/PROJECTS/NMIPH_WEBSITE/assets/img/nmi-k-365/logo-kaseya-365-ring.svg) no-repeat center center;
    grid-column: span 2;
    margin-top: 3rem;
  }
  .k365-section3 .section-cont .ring-bg .card-ring-bg{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    justify-content: center;
    grid-template-rows: auto auto;
    gap: 3rem;
    margin-top: 1rem;
  }
  
  .k365-section3 .section-cont .ring-bg .card-ring-bg .card {
    border: 0;
    box-shadow: 0px 10px 8px 0px rgba(87, 192, 237, .46) !important;
  }
  .k365-section3 .section-cont .ring-bg .card-ring-bg .card:last-child {
    grid-column: 1 / span 2;
    margin: 0 10rem;
  }
  .k365-section3-new{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1rem;
    /* padding: 2rem; */
  }
  .k365-section3-new .card a{
    font-size: 10px;
  }
  .k365-section3-new .card h3{
    font-size: 16px;
  }
   .k365-section3-new .card p{
    font-size: 14px;
  }
  .k365-includes .nav{
    display: flex !important;
    flex-direction: row !important;
    align-items: center !important;
    gap: 1rem !important;
  }
  .tab-banner-sm{
    background-color: rgba(49, 93, 179, 0.06);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem;
    height: 25%;
  }
  #subscription .subscription-content{
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 3rem;
  }
  #subscription .btn{
    font-size: 15px !important;
  }
  #automationUser .nav{
    display: flex !important;
    flex-wrap: nowrap !important;
    justify-content: center;
  }
  #automationUser .list-group-item{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
  .btn-auto-user{
    width: 13rem;
  }
  .solution-content{
    margin-top: 3rem;
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    align-items: center;
    gap: 1rem;
    padding: .5rem 2rem;
    box-shadow: 0px 2px 8px 0px rgba(61, 61, 61, 0.46);
  }
  .solution-content p{
    font-size: 16px;
  }
  .solution-content .solution-img{
    display: flex;
    justify-content: center;
    padding: 2rem;
  }
  .solution-content .solution-img img{
    width: 25rem;
  }
  #solutions-card-alignment .card-body{
    height: 10rem;
    overflow: auto;
  }
  .solution-mid-content{
    box-shadow: 0px 2px 8px 0px rgba(61, 61, 61, 0.46);
    padding: 1.5rem;
  }
  .solution-alignment{
    display: flex;
    flex-direction: row;
    gap: 1rem;
  }
  .solution-video{
    display: grid;
    box-shadow: 0px 2px 8px 0px rgba(61, 61, 61, 0.46);
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    justify-content: center;
    padding: .5rem .5rem 0rem .5rem;
    gap: 1rem;
  }
}

  /* desktop viewport*/
  @media (min-width: 1024px) {
    .k-banner-txtdiv{
      width: 35rem;
    }
    .solution-grid{
      grid-template-columns: repeat(4, 1fr);
     }
     .k-365-panel{
      display: flex;
      flex-direction: row;
      align-items: center;
      padding: 1rem;
    }
    .k-365-txt{
      text-align: left;
      font-size: 18px;
    }
    .about-grid .col-span-2 .sub-content .content p{
      text-align: justify;
    }
    .contact-grid{
      position: relative;
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      margin-top: 1rem;
      gap: 2rem;
    }
    .contact .php-email-form .input-grid{
      display: grid;
      gap: .5rem;
    }
    .footer-top .footer-grid{
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 2rem;
    }
    .footer-top .footer-contact{
      grid-column: span 2;
      display: grid;
      justify-content: center;
      align-items: center;
    }
    #footer .footer-top .footer-end {
      display: flex;
      justify-content: space-between;
      align-items: start;
    }
    #footer .footer-top .end{
      display: flex;
      justify-content: end;
    }
    .rmm-txt-j-c{
      text-align: center;
    }
    .rmm .rmm-below-content .rmm-img{
      padding: 1rem .5rem;
      margin-top: 0;
      height: 20rem;
    }
    .k365-section1{
    display: grid;
      /* justify-content: center;
      align-items: center;
      gap: 4.5rem;
      margin: 0 3rem; */
    grid-template-columns: repeat(4, 1fr);
    }
    .k365-section1 h2{
      text-align: left;
      font-size: 40px;
    }
    .k365-section1 p{
      text-align: left;
    }
    .sub-section1{
      grid-column: span 3;
      display: flex;
      flex-direction: column;
      align-items: start;
    }
    .k365-section2{
      position: absolute;
      padding: 0 5rem;
      left: 0;
      right: 0;
      display: flex;
      flex-direction: row;
      flex-wrap: nowrap;
      align-items: center;
      justify-content: center;
      gap: 1rem;
    }
    .k365-section3{
      margin-top: 1rem;
    }
    .k365-section3 .section-cont{
      position: relative;
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      gap: 1.5rem;

    }
    .k365-section3 .section-cont .ring-bg .card-ring-bg{
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      justify-content: center;
      grid-template-rows: auto auto;
      gap: 1.5rem;
    }
    .k-365-modal-bg{
      margin-top: 0;
    }
    .k365-section3-new{
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      gap: 2.5rem;
      /* padding: 2rem; */
    }
    .k365-section3-new .card a{
      font-size: 12px;
    }
    .k365-section3-new .card h3{
      font-size: 20px;
    }
     .k365-section3-new .card p{
      font-size: 15px;
    }
    .tab-content .pills-content{
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      gap: 2rem;
      align-items: center;
      margin-top: 1.5rem;
    }
    .tab-content .pills-content .secure-tab-perks{
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      gap: .5rem;
    }
    .automation-content{
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      align-items: center;
      gap: 1rem;
      margin-top: 2rem;
    }
    #automation-segmentedTab .nav{
      display: flex !important;
      flex-wrap: wrap !important;
      overflow-x: auto;
      /* gap: 1rem; */
    }
    #automation-segmentedTab .tab-content{
      grid-column: span 2;

    }
    #automation-segmentedTab .nav-pills .nav-link{
      min-width: 20rem !important;
      padding: .5rem;
      border-radius: 0;
    }
    #kaseya365 .banner-color{
      margin-left: -4.3rem;
      margin-bottom: -6.5rem;
    }
    #kaseya365 .banner-color figure::after{
      z-index: -1;
      content: "";
      position: absolute;
      inset: -4px;
      border-radius: 50%;
      background: #fff;
      -webkit-filter: drop-shadow(0px 0px 60px #4fc3f7) blur(10px);
      filter: drop-shadow(0px 0px 60px #4fc3f7) blur(10px);
    }
    #kaseya365 .endpoint-color figure{
      position: relative;
      background-image: radial-gradient(40% 40% at 75% 12%,#5cc0ec 0%,rgba(92,236,205,0) 100%),radial-gradient(59.56% 57% at 49.45% 50.47%,rgba(1,198,190,0) 65%,rgba(1,198,190,.9) 100%) !important;
      padding: 4.5rem;
      border-radius: 50%;
      margin-bottom: 2rem;
      background: #0b233a;
      width: 15rem;
    }
    #kaseya365 .user-color figure{
      position: relative;
      background-image: radial-gradient(40% 40% at 75% 12%,#5ceca4,rgba(118,236,92,0) 100%),radial-gradient(59.56% 57% at 49.45% 50.47%,rgba(133,232,28,0) 65%,rgba(133,232,28,.9) 100%) !important;
      padding: 4.5rem;
      border-radius: 50%;
      margin-bottom: 2rem;
      background: #0b233a;
      width: 15rem;
    }
    #subscription-user .subscription-circle figure::after{
      z-index: -1;
      content: "";
      position: absolute;
      inset: -4px;
      border-radius: 50%;
      background: #fff;
      filter: drop-shadow(0px 0px 60px #4fc3f7) blur(10px);
    }
    
    #subscription-user .subscription-circle figure{
      position: relative;
      background-image: radial-gradient(40% 40% at 75% 12%,#5ceca4,rgba(118,236,92,0) 100%),radial-gradient(59.56% 57% at 49.45% 50.47%,rgba(133,232,28,0) 65%,rgba(133,232,28,.9) 100%) !important;
      padding: 5rem;
      border-radius: 50%;
      margin-bottom: 2rem;
      background: #0b233a;
      width: 17rem;
    }
    .subscription-banner{
      display: flex;
      flex-direction: row;
      align-items: center;
      gap: 3rem;
    }

    .solution-content{
      margin-top: 3rem;
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      align-items: center;
      gap: 1rem;
      padding: .5rem 2rem;
      box-shadow: 0px 2px 8px 0px rgba(61, 61, 61, 0.46);
    }
    .solution-content p{
      font-size: 16px;
    }
    .solution-content .solution-img{
      padding: 4rem 3rem;
    }

    .solution-heading{
      display: flex;
      align-items: center;
      gap: 1rem;
    }
    
    .solution-figure{
      display: flex;
      justify-content: center;
      align-items: center;
      width: 18rem;
    }
    
    #solutions-card-alignment .card{
      border-radius: 0 !important;
      /* box-shadow: 0px 2px 8px 0px rgba(61, 61, 61, 0.46); */
    }
    
    .solution-mid-content{
      box-shadow: 0px 2px 8px 0px rgba(61, 61, 61, 0.46);
      padding: 1.5rem;
    }
  }

  @media (min-width: 1280px) {
    .logo {
      width: 15rem;
    }
    .nav-link-style {
      display: flex;
    }
    .default-nav {
      display: flex;
      align-items: center;
      gap: 1rem;
      padding-top: 1rem;
    }
    .scroll-sub-nav {
      width: 45.9rem;
      height: 300px;
      margin-left: 0rem;
      overflow-y: auto;
      overflow-x: hidden;
    }
    .solution-grid{
      grid-template-columns: repeat(7, 1fr);
      justify-content: center;
      align-items: center;
      gap: 1rem;
      margin-top: 1rem;
     }
     .solution-card{
      height: 8rem;
      margin: 0rem;
    }
    .k-365-panel{
      gap: 2rem;
      margin: 0;
    }
    .k-365-desc{
      display: flex;
      flex-direction: row;
      align-items: center;
    }
    .k-365-txt{
      text-align: left;
      font-size: 20px;
      width: 45rem;
    }
    .about-grid{
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      grid-auto-rows: auto;
      margin-top: 2rem;
    }
    .about-grid .col-span-1{
      grid-column: span 1;
      display: flex;
      justify-content: center;
      align-items: center;
    }
    .about-grid .col-span-2{
      grid-column: span 2;
    }
    .about-grid .col-span-2 .sub-content{
      display: grid;
      gap: 2rem;
    }
    .k365-section2 .card{
      width: 18rem !important;
      height: 10rem !important;
      border: 0px !important;
      box-shadow: 0px 2px 8px 0px rgba(87, 192, 237, .46) !important;
    }
    .btn-auto-user{
      width: 22rem;
    }
    #kaseya365 .endpoint-color figure{
      position: relative;
      background-image: radial-gradient(40% 40% at 75% 12%,#5cc0ec 0%,rgba(92,236,205,0) 100%),radial-gradient(59.56% 57% at 49.45% 50.47%,rgba(1,198,190,0) 65%,rgba(1,198,190,.9) 100%) !important;
      padding: 4.5rem;
      border-radius: 50%;
      margin-bottom: 2rem;
      background: #0b233a;
      width: 16rem;
    }
    #kaseya365 .user-color figure{
      position: relative;
      background-image: radial-gradient(40% 40% at 75% 12%,#5ceca4,rgba(118,236,92,0) 100%),radial-gradient(59.56% 57% at 49.45% 50.47%,rgba(133,232,28,0) 65%,rgba(133,232,28,.9) 100%) !important;
      padding: 4.5rem;
      border-radius: 50%;
      margin-bottom: 2rem;
      background: #0b233a;
      width: 16rem;
    }
  }

  @media (max-width: 1366px) {
    .navbar .dropdown .dropdown ul {
      left: -90%;
    }
  
    .navbar .dropdown .dropdown:hover>ul {
      left: -100%;
    }
  }

  /* hero section */
  @media (max-width: 768px) {
    #hero {
      text-align: center;
      padding-top: 58px;
    }
  
    #hero h1 {
      font-size: 28px;
    }
  
    #hero h2 {
      font-size: 18px;
      line-height: 24px;
    }
    
  }
  
  @media (max-height: 500px) {
    #hero {
      height: 120vh;
    }
  }

  /* about */
  @media (max-width: 1200px) {
    .about .content {
      padding-right: 0;
    }
  }
  
  @media (max-width: 768px) {
    .about {
      text-align: center;
    }
  }

  /* tab */
  @media (max-width: 768px) {
    .tabs .nav-link i {
      padding: 0;
      line-height: 1;
      font-size: 36px;
    }
  }
  
  @media (max-width: 575px) {
    .tabs .nav-link {
      padding: 15px;
    }
  
    .tabs .nav-link i {
      font-size: 24px;
    }
  }

  /* footer */
  @media (min-width: 768px) {
    .col-sm-8r {
        width: 12.5%;
        float: left;
    }
  }
  
  @media (min-width: 992px) {
    .col-md-8r {
        width: 12.5%;
        float: left;
    }
  }
  
  @media (min-width: 1200px) {
    .col-lg-8r {
        width: 12.5%;
        float: left;
    }
  }